//Defining Sass variables: 

//colors
$primary-color: #4edbc4;

//font-size
$font-size-large: 3.75rem;   
$font-size-medium:20px;  

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;

// Gaps
$gap-large: 2rem;






//Defining Sass mixins
@mixin centerGrid{
    display: grid;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1,h2,h3,h4,h5 label, p{
    text-align: center;
}

  body {
    @include centerGrid();
    height: 100%;
    width: 100%;
    background-size: cover; /* This makes the image cover the entire screen */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-image: url("./images/day/clear_day.jpg");
    padding-bottom: 20px;
  }

  #weather-container {
    @include centerGrid();
    gap: 2rem;
    width: 60vw;
    margin-left: 15rem;
    height: 100%;
  }

  #mainWeatherDisplay{
    @include centerGrid();
    justify-items: center;

    #airDetailsSection{
      display: flex;
      gap: $gap-large;
      font-size: $font-size-medium;
      width:100%;//ensuring 
      overflow-x: auto;//responsiveness 
      margin-top: 1rem;
      }

  }
  
  #navbar {
    position: fixed;
    height: 100vh;
    width: 15rem;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4039215686);
    backdrop-filter: blur(10px);
    border-radius: -radius;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
 

  #navList {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-content: space-around;

    .forecastDays{
        list-style: none;
        background-color: $primary-color;
        padding: 1.5rem;
        border-radius:15px;
        cursor: pointer;
        margin: 0 0.5rem;
        transition: 0.2s ease;
        
&:hover,
&.active{
    background-color: rgb(31, 121, 91);
    color: #FFF;
        } 
      }
    }
  }

  .toggleNavIcons {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    width: 5rem;
    position: absolute;
    top: 10px;

    &#navMenuIcon{
        left: 10px;
        }

    &#navCloseIcon {
        right: 10px;
        }
    }

    /* For tablet screens */
@media (max-width: 790px) {
    #navbar {
        display: none; /* Keep hidden initially */
        transform: translateX(-100%);
    }

    #navbar.open {
        display: flex;
        transform: translateX(0);
    }

    .toggleNavIcons {
        display: block;
    }
}



#searchWrapper {
    max-width: 400px;
    justify-self: center; 

    #citySearch{
        width: 300px;
        margin: 0 auto;
        position: relative;

        .input{
            width: 50%;
            padding: 20px;
            border: none;
            border-radius: 50px;
            transition: width 0.5s ease;
            padding-left: 70px;
            height: 60px;

            &.input_active{
                width: 100%;
                    }
            }

            .btn{
                width: 100%;
                height: 60px;
                padding: 20px;
                border: none;
                background-color: $primary-color;
                border-radius: 50px;
                text-align: center;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                transition: width 0.5s ease;

                &.btn_active{
                    width: 20%;
                   }
        }
    }
}

#error-message{
  font-weight: $font-weight-bold;
  text-align: center;
  }
  